:root {
--bgcolor: #FFFFFF;  
--blueskin: #2196F3; 
--vtcolor: #F5F4FA; 
--blcolor: #188CE8;
--blkcolor: #212121;
--bkcolor: #757575;
--blek: #2F303A;
}
h1,h2,h3,h4,p,ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif ;
    background-color: var(--bgcolor);
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200;
    margin: 0 auto;
    padding: 0 15px;
}

.address-container {

    justify-content: flex-start;
    flex-direction: column;
    max-width: 1200;
    margin: 0 auto;
   
}

.team-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1200;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    display: flex;
    align-items: center;
}


.hero2 {
    padding-top: 30px;
    padding-left: 248px;
}

.header-2 {
    display: flex;
    margin-right: 340px;
}
.header-h-cont :not(:last-child) {
    margin-right: 50px;
}

.header-h-cont {
    display: block;
    padding: 32px 0;
}

.nav2 {
    padding-left: 53px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--blkcolor);
}

.nav3 {
    padding-right: 50px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--bkcolor);
}


#logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--blueskin);
}
    
a:hover {
    color: var(--blueskin);
}
.header-h :not(:last-child) {
    margin-right:50px ;

}   

.menu2 {
    display: flex;
    align-items: center;
}

.menu2 li {
    white-space: nowrap;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
}
.hero-head1 {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.foto5 {
    padding-top: 50px;
    padding-left: 215px;
    padding-right: 215px;
}
.foot9 {
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
}

.foot9 li, .foot10 li, .foot11 li {
    border: 1px solid #EEEEEE
}

.foot10 {
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
}
.foot11 {
    display: flex;
    gap: 30px;
}
.text9 {
    margin-top: 20px;
    margin-bottom: 8px;
    margin-left: 24px;
}
.text10 {
    margin-bottom: 20px;
    margin-left: 24px;
}

.content-wrap {
    width: 696px;
}
.hero-title {
    max-width: 696px;
    margin: 0 auto;
}
.hero-title1 {
    margin-bottom: 10px;
}
.photo {
    margin-bottom: 30px;
}
.hero-button {
    padding: 10px 20px;
    border-radius: 4px;
    margin-left: 700px;
    margin-top: 30px; 
}

li {
list-style-type: none;
}
.work1 {
    display: flex;
    gap: 30px;
}
.work2 {
    margin-bottom: 10px;
}
.hero-head {
    align-items: center;
    padding: 6px 26px;
    border-radius: 4px; 
}
.hero-head2 {
    align-items: center;
    padding: 6px 53px ;
    border-radius: 4px; 
}

.we1 {
    display: flex;
    gap: 30px; 
    padding-bottom: 94px;
}
.we2 {
    margin-bottom: 50px;
    text-align: center;   
}
.we3 {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.foot4 {
    margin-top: 60px;
 
}
.foot3 {
    
}
.foot-head {
    padding-top: 60px;
}
.foot-h {
    width: 231px;
    margin-top: 10px;
    margin-bottom: 10px;
}
a:focus {
box-shadow: 0 0 0 3px var(--blueskin);
}
.content1 {
    max-width: 696px;
    margin: 0 auto;
}
button:focus {
box-shadow: 0 0 0 3px var(--blueskin);
}

button {
font-family: 'Roboto', sans-serif ;
cursor: pointer;
font-size: 16px;
}

.main1 {
background-color: var(--bgcolor);
}

.hero button {
height: 38px;
background:  var(--vtcolor);
border-radius: 4px;

}

.hero button:hover {
background-color: var(--blcolor);
color: var(--bgcolor);
}
.hero button:focus {
background-color: var(--blcolor);
color: var(--bgcolor);
 }


ul h3 {
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: var(--blkcolor);
}

ul p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--bkcolor);
}

ul.menu-black a {
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--blkcolor);
}

ul.menu-black a:hover {
    color: var(--blueskin);
}

ul.menu-black a:focus {
color: var(--blueskin);
}

ul.menu2 a {
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--bkcolor);
}
    
ul.menu2 a:hover {
color: var(--blueskin);
}
ul.menu2 a:focus {
color: var(--blueskin);
}

header a {
text-decoration: none;
}

.foto img {
width: 370px;
height: 294px;
}
footer a {
text-decoration: none;    
}

.foot-all {
background: var(--blek);
padding-top: 60px;
margin-top: 10px;
    padding-left: 215px;
    padding-bottom: 60px;
}

.foot-text {
font-style: normal;
}

.foot1 {
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--bgcolor);
}

.foot2 {
font-weight: 400;
font-size: 14px;
line-height: 24px; 
letter-spacing: 0.03em; 
color: rgba(255, 255, 255, 0.6);
}

.hero1 {
background-color: var(--blek);
padding-top: 200px;
padding-bottom: 200px;
}

section.hero1 button {
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--bgcolor);
background-color: var(--blueskin);
}

section.hero1 button:hover {
background-color: var(--blcolor);
}
section.hero1 button:focus {
background-color: var(--blcolor);
}

section.hero1 h1 {
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--bgcolor);
}

section.work h3 {
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--blkcolor);
}

section.work p {
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--bkcolor);
}

section.we-do-it h2 {
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--blkcolor);
}

section.our-team {
background-color: var(--vtcolor);
}

section.our-team li {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgcolor);
}


section.our-team h2 {
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
color: var(--blkcolor);
 }

section.our-team h3 {
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: var(--blkcolor);
 }

 section.our-team p {
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: var(--bkcolor);
 }