:root {
--bgcolor: #FFFFFF;  
--blueskin: #2196F3; 
--vtcolor: #F5F4FA; 
--blcolor: #188CE8;
--blkcolor: #212121;
--bkcolor: #757575;
--blek: #2F303A;
}
body
{
font-family: 'Roboto', sans-serif ;
background-color: var(--bgcolor);
}
.container {
    width: 1200;
    margin: 0 auto;
    padding: 0 15px;
}
.header-containet {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 97px;
}
.menu-black {

}
.header-nal-link,
.header-nal-item {
    display: block;
    padding: 32px, 0;
}
.menu2 {
    margin-right: auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
li {
list-style-type: none;
}

a:focus {
box-shadow: 0 0 0 3px var(--blueskin);
}

button:focus {
box-shadow: 0 0 0 3px var(--blueskin);
}

button {
font-family: 'Roboto', sans-serif ;
cursor: pointer;
font-size: 16px;
}

.main1 {
background-color: var(--bgcolor);
}

.hero button {
width: 103px;
height: 38px;
background:  var(--vtcolor);
border-radius: 4px;
border-color: var(--vtcolor);
}

.hero button:hover {
background-color: var(--blcolor);
color: var(--bgcolor);
}
.hero button:focus {
background-color: var(--blcolor);
color: var(--bgcolor);
 }


ul h3 {
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: var(--blkcolor);
}

ul p {
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: var(--bkcolor);
}

.logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--blueskin);
}
ul.menu-black a {
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--blkcolor);
}

ul.menu-black a:hover {
    color: var(--blueskin);
}

ul.menu-black a:focus {
color: var(--blueskin);
}

ul.menu2 a {
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--bkcolor);
}
    
ul.menu2 a:hover {
color: var(--blueskin);
}
ul.menu2 a:focus {
color: var(--blueskin);
}

.top-menu {
background: var(--bgcolor);
}

header a {
text-decoration: none;
}

.foto img {
width: 370px;
height: 294px;
}
footer a {
text-decoration: none;    
}

.foot-all {
background: var(--blek);
}

.foot-text {
font-style: normal;
}

.foot1 {
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--bgcolor);
}

.foot2 {
font-weight: 400;
font-size: 14px;
line-height: 24px; 
letter-spacing: 0.03em; 
color: rgba(255, 255, 255, 0.6);
}

.hero1 {
background-color: var(--blek);
}

section.hero1 button {
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--bgcolor);
background-color: var(--blueskin);
}

section.hero1 button:hover {
background-color: var(--blcolor);
}
section.hero1 button:focus {
background-color: var(--blcolor);
}

section.hero1 h1 {
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--bgcolor);
}

section.work h3 {
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--blkcolor);
}

section.work p {
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--bkcolor);
}

section.we-do-it h2 {
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--blkcolor);
}

section.our-team {
background-color: var(--vtcolor);
}

section.our-team li {
background-color: var(--bgcolor);
}

section.our-team h2 {
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
color: var(--blkcolor);
 }

section.our-team h3 {
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: var(--blkcolor);
 }

 section.our-team p {
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: var(--bkcolor);
 }